.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.register-button {
    display: inline-flex; /* Flexbox를 사용하여 텍스트를 가운데 정렬 */
    justify-content: center; /* 텍스트를 수평 중앙에 정렬 */
    align-items: center; /* 텍스트를 수직 중앙에 정렬 */
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 10px;
    background-color: lightgray;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: gray;
}
