.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.register-form input {
    padding: 10px;
    font-size: 16px;
}

.register-form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.register-form button:hover {
    background-color: #218838;
}

.login-button {
    margin-top: 10px;
    background-color: lightgray;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: gray;
}
